body{
    padding: 150px;
    margin: 150px;
    background-image: url("../img/giphy_ff.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

ul{
    list-style-type: none;
}

#btt_link a{
    text-decoration: none;
    color: white;
    background-color: orange;
    border-radius: 50px;
    padding: 40px;
  }

  #btt_link a:hover{
    transition: 0.5s;
    background-color: black;
  }

  @media(max-width: 800px){
    
}

@media(max-width: 450px){
 
}